@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-logo {
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.4));
}

input {
  border: solid 5px black;
  border-radius: 5px;
  font-size: 2rem;
  padding:1rem 0.5rem;
  text-shadow: 0 4px 8px rgba(0,0,0,0.3);
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.4));
  background-color: transparent;
  margin-top: 2rem;
}
